<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated drones -->
      <package
            uri="http://surveillance"
            class="mm.confidence.surveillance.SurveillancePackage"
            genModel="drones.genmodel"/>
   </extension>

</plugin>
